{deps, [
        {ranch, ".*",
         {git, "https://github.com/ninenines/ranch.git", {branch, "master"}}},
        {sync, ".*",
         {git, "git://github.com/rustyio/sync.git", {branch, "master"}}},
        {behaviour_trees, ".*",
         {git, "git://github.com/fishballian/behaviour_trees.git", {branch, "master"}}}
       ]}.
