{deps, [
        {ranch, ".*",
         {git, "https://github.com/ninenines/ranch.git", {branch, "master"}}},
        {sync, ".*",
         {git, "git://github.com/rustyio/sync.git", {branch, "master"}}},
        {behaviour_trees, ".*",
         {git, "git://github.com/fishballian/behaviour_trees.git", {branch, "master"}}},
        {mchat,
         {git, "git://github.com/fishballian/mchat.git", {branch, "master"}}}
       ]}.

{profiles, [
            {prod, [{relx, [{dev_mode, false}, {include_erts, true}]}]},
            {test, [{deps, [
                            {meck, ".*",
                             {git, "git://github.com/eproxus/meck.git", {tag, "0.8.2"}}}
                           ]}
                   ]}
           ]}.

{relx, [{release, {mygame, "0.0.1"},
         [mygame, sasl]},
        {dev_mode, true},
        {include_erts, false},
        {extended_start_script, true}]}.

{cover_enabled, true}.

