{deps, [
        {ranch, ".*",
         {git, "https://github.com/ninenines/ranch.git", {branch, "master"}}},
        {sync, ".*",
         {git, "git://github.com/rustyio/sync.git", {branch, "master"}}},
        {behaviour_trees, ".*",
         {git, "git://github.com/fishballian/behaviour_trees.git", {branch, "master"}}}
       ]}.

{profiles, [
            {test, [{deps, [
                            {meck, ".*",
                             {git, "git://github.com/eproxus/meck.git", {tag, "0.8.2"}}}
                           ]}
                   ]}
           ]
}.
